name: base-static-csi-presubmit
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/actions/presubmit-variant/action.yml
      - .github/workflows/base-static-csi-presubmit.yml
      - base-static-csi/**
jobs:
  build:
    name: Verify base-static-csi image (single arch)
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/presubmit-variant
        with:
          variant: base-static-csi
          arch: amd64
