name: base-static-presubmit
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/actions/presubmit-variant/action.yml
      - .github/workflows/base-static-presubmit.yml
      - base-static/**
jobs:
  build:
    name: Verify base-static image (single arch)
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/presubmit-variant
        with:
          variant: base-static
          archs: amd64
